<br />
<% content_for :title do %>
ログイン |チケット売買ならチケナビにお任せ!!
<% end %>

<div class="boxlogin">
     <h1>ログイン画面</h1>
 <br />

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

     <div class="field-login">
      <%= f.label :email %><br />
    </div>
      <div class="text-menu-login">
      <br />
     <%= f.email_field :email, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須</small></span>
      <br />
     </div>
<br />
     <div class="field-login">
      <%= f.label :password %><br />
     </div>
        <div class="text-menu-login">
         <br />
      <%= f.password_field :password, autocomplete: "off" %><span style="color:#ff0000;">&emsp;<small>*必須</small></span>
         <br />
  </div>
  <br />

  <div class="actions">
    <%= f.submit "ログイン",:class => "submit-button" %>
  </div>
  <% end %>
  <br />

</div>

<div class="payment-box clearfix">
   <div class="payment-title">
     <h1>あんしん・安全取引</h1>
     <p>エスクロー決済と言われる決済手段により、購入者様に対して安心・安全な取引環境を整備</p>
   </div>
   <div class="esukuro-photo">
     <%= image_tag"svc_bidcube_func03.gif", :size => "520x500" %>
   </div>
   <div class="esukuro-photo-comment">
    <p><strong>エスクロー決済（あんしん・安全取引）は、<span style="color: red;">売り手・買い手・事務局（弊社）間</span>での取引が行われます。<br /><br />
    大まかな取引の流れは以下の様になります。<br />
     ①チケット購入時、買い手は<span style="color: red;">事務局(弊社)に代金を預ける。</span><br /><br />
     ②売り手はの入金を確認し買い手に商品を発送する。<br /><br />
     ③買い手は送付された商品を確認し、商品の到着を事務局に報告する。<br /><br />
     ④当初の<span style="color: red;">取引内容と異なる場合は(偽物やチケットが届かない等)、取引破棄し全額返金</span>をすることができる。<br /><br />
     ⑤取引成立時には、売り手に代金を送金(銀行振込手続き有り)する。<br /><br />
     <span style="color: red;">*注</span>&nbsp;取引相手にカード番号、金融機関口座情報を知らせる必要はありませんので安心してお取引を行う事ができます。</strong> </p>
   </div>
</div>

<div class="ticket-sagi clearfix">
      <div class="payment-title">
        <h1>偽造チケット補償制度！</h1>
        <p>購入したチケットが届いた!!しかし当日、会場へ行ったらチケットが偽物だった...<br />
        そんな最悪な場合でも<span style="color: red;">条件をクリア</span>すればチケットの代金をTicket Naviが補償します。取引に不安を感じている方でも、安心です!!
      </div>
    <div class="ticket-photo">
      <%= image_tag"family-222129_960_720.jpg", :size => "380x410" %>
      <div class="ticket-photo-a"><h1>安心</h1></div>
      <div class="ticket-photo-b"><h1>安全</h1></div>
      <div class="ticket-photo-c"><h1>保証制度</h1></div>
      <div class="ticket-photo-d"><p><strong>偽造チケットの場合、<span style="color: red;">チケット代金を補償</span>します!!</strong></p></div>
    </div>
    <div class="ticket-photo-comment">
      <div class="ticket-photo-comment-top">
        <p><strong>保証制度適用条件</strong></p>
    </div>
        <ul>
          <li>&emsp;①偽造チケットのご提出が可能なこと</li>
          <li>&emsp;②チケット代金を補償（上限は1枚あたり3万円まで）</li>
          <li>&emsp;③紙発券のチケットであること（電子チケット、<br />&emsp;&emsp;QRコードは対象外）</li>
          <li>&emsp;④ユーザー登録情報を全て記入済みであること</li>
          <li>&emsp;⑤お1人様あたり年間1回まで適用可</li>
          <li>&emsp;⑥これまでのお取引で利用規約違反（直接取引や取引連絡を<br />&emsp;&emsp;通さない取引など）がないこと</li>
          <li>&emsp;⑦Ticket Naviの利用規約に準じて審査し判断</li>
      <div class="ticket-photo-comment-under">
        <p><strong>必要提出書類</strong></p>
      </div>
        <ul>
         <li>&emsp;・該当のチケットID</li>
         <li>&emsp;・偽造チケット(原本)</li>
         <li>&emsp;・住民票、運転免許証など本人確認ができるもの<br />&emsp;&emsp;（氏名、現住所、生年月日が確認できるもの）</li>
         <li>&emsp;・警察へ提出した被害届の受理番号（届出先・担当者氏名）</li>
</div>