  <br />
<% content_for :title do %>
ご利用ガイド | あんしん・安全取引ならTicket Navi
<% end %>
  <br />
  <div align="center"><h2 class="sample2 box7" id="roll11">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Ticket&nbsp;Naviガイド・良くある質問と答え&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h2>
  <div class="page-tittle">
    <ul>
        <li>
        <a href="#roll1">⭐️出品するには</a>
        </li>
        <li>
          <a href="#roll2">&emsp;&emsp;⭐️購入するには</a>
        </li>
        <li>
          <a href="#roll3">&emsp;&emsp;⭐️手数料・お支払方法</a>
        </li>
        <li>
          <a href="#roll4">&emsp;&emsp;⭐️取引方法（エスクロー決済）について</a>
        </li>
        <li>
          <a href="#roll5">⭐️安心・安全への取り組みについて</a>
        </li>
        <li>
          <a href="#roll6">&emsp;&emsp;⭐️お取引の流れ</a>
        </li>
        <li>
          <a href="#roll7">&emsp;&emsp;⭐️会員登録・ログインについて</a>
        </li>
        <li>
          <a href="#roll10">&emsp;&emsp;⭐️利用規約について</a>
        </li>
     </ul>
  </div>
</div>

<div class="whitebox">
  <div align="center"><h2 id="roll1"><strong>出品するには</strong></h2></div>
  <div class="clearfix">
    <section class="ac-container">
      <div>
        <input id="ac-1" name="accordion-1" type="radio" checked>
        <label for="ac-1">出品方法</label>
          <article>
          <br />
            <p>
               1.会員登録を行い、お振り込み先等を登録。<br />
               2.【出品】ボタンをクリック。<br />
               3.チケット情報を入力をしてください。<br />
               4.[出品する】をクリックで完了です<br />
            </p>
          </article>
      </div>

      <div>
        <input id="ac-2" name="accordion-1" type="radio">
        <label for="ac-2">出品可能チケット</label>
          <article>
            <p>
            <br />
              1.国内主催の公演<br />
              2.電子チケット<br />
              3.自宅発券プリント@ホーム<br />
              4.主催者公認の駐車券など
            </p>
          </article>

      <div>
         <input id="ac-3" name="accordion-1" type="radio">
         <label for="ac-3">出品不可能チケット</label>
          <article>
            <p>
            <br />
              1.海外開催の公演<br />
              2.金券・航空券<br />
              3.盗品・偽造チケット<br />
              4.その他、利用規約に違反するチケットすべて
            </p>
          </article>
       </div>

      <div>
         <input id="ac-5" name="accordion-1" type="radio">
         <label for="ac-5">他、事前確認事項</label>
          <article>
            <p>
            <br />
              1.チケットの汚れ、痛みの有無。（綺麗な状態が望ましい）<br />
              2.チケット券面に加工がない。<br />
              3.記名塗り潰しの場合は必ず出品情報に申告する。<br />
              4.当社が相応しくないと認めたチケットはお取り扱い出来ない場合があります。<br />
            </p>
          </article>
      </div>

      <div>
         <input id="ac-6" name="accordion-1" type="radio">
         <label for="ac-6">内容変更、削除について</label>
           <article>
            <p>
            <br />
              マイページからチケットの変更、削除を行って下さい。<br />
              しかし、お取引が成立された出品情報は、変更・削除ません。
              直接、購入者様に券面違い等のご了承をいただけるかご連絡ください。</p>
           </article>
      </div>

      <div>
          <input id="ac-7" name="accordion-1" type="radio">
          <label for="ac-7">出品したい公演、アーティストが無い</label>
            <article>
             <p>
             <br />
             下記の「お問い合せ」より新しく掲載を希望する公演名、アーティストをご連絡ください。<br />
              内容を確認の上、掲載判断させて頂きますのでご了承ください。<br />
              <strong><%= link_to "お問い合わせ(Email 24時間受付)", inquiry_path %></strong>
              通常は48時間以内に反映されます。</p>
            </article>
      </div>

       <div>
          <input id="ac-8" name="accordion-1" type="radio">
          <label for="ac-8">追跡番号を紛失した場合</label>
            <article>
              <p>
              <br />
                追跡番号が紛失、不明な場合、発送の経緯を確認させていただきます。発送にご利用頂きました配送会社へお問合せいただき、正しい番号をお調べいただけますようお願いします。<br />
              </p>
            </article>
        </div>
    </section>

    <div align="center"><h2 id="roll2"><strong>購入するには</strong></h2></div>
  <section class="ac-container">
     <div>
       <input id="ac-9" name="accordion-1" type="radio" checked>
       <label for="ac-9">購入方法</label>
         <article>
          <p>
          <br />
            既に出品されているチケットから欲しいチケットを注文する取引方法です。
            取引方法によりお取引期限などが異なりますので、ご都合に合わせてお選びいただけます。
            サイトから、ご希望のアーティスト・公演名で検索してください。
            希望公演がございましたら、注文へお進みください。
          </p>
         </article>
     </div>

     <div>
        <input id="ac-10" name="accordion-1" type="radio">
        <label for="ac-10">チケットの在庫について</label>
          <article>
           <p>
           <br />
            出品者様には弊社サービスのみでの販売をお約束いただいております。
            在庫の確認の有無等の対応は御座いません。またはコメントでご確認下さい。
           </p>
          </article>
      </div>

  <div>
    <input id="ac-11" name="accordion-1" type="radio">
    <label for="ac-11">出品者はどんな人？</label>
    <article>
      <p>
      <br />
    コンサートやスポーツチケット、演劇チケットなどが余って困った方や、
    買えなくて困った方を弊社が仲介しています。
    その為、出品者はコンサートやスポーツチケット、演劇チケットなどが余って困った方や、
    買えなくて困った方を弊社ではなく「チケットを売りたい方」となります
    </p>
    </article>
  </div>
  <div>
    <input id="ac-12" name="accordion-1" type="radio" >
    <label for="ac-12">ワンポイントアドバイス</label>
    <article><br />
      <p>詳しい詳細等、気軽に質問してつぶやいてみましょう。どんどん盛り上げよう！</p>
    </article>
  </div>
</section>


  <div align="center"><h2 id="roll3"><strong>手数料・お支払方法</strong></h2></div>

<section class="ac-container">
  <div>
    <input id="ac-13" name="accordion-1" type="radio" checked>
    <label for="ac-13">手数料について</label>
    <article>
      <p><br />
    手数料については下記のリンクから詳細をご覧ください。<br />
    詳しくは<strong><%= link_to "こちらへ" ,home_kakaku_path %></strong>
    </p>
    </article>
  </div>


  <div>
    <input id="ac-14" name="accordion-1" type="radio">
    <label for="ac-14">買い手負担の手数料は？</label>
    <article>
    <p><br />
    買い手が負担する手数料は以下のとおりです。<br />
    1.決済システム料<br />
    2.取引手数料<br />
    詳しくは<strong><%= link_to "こちらへ" ,home_kakaku_path %></strong>
    </p>
    </article>
  </div>
  <div>
    <input id="ac-15" name="accordion-1" type="radio">
    <label for="ac-15">売り手の手数料は？</label>
    <article>
    <p><br />
      出品チケットの金額から一律を手数料4%をご負担いただいてます。
    また振込依頼1回ごとに、送金手数料400円をご負担いただいております。
    </p>
    </article>
  </div>
  <div>
    <input id="ac-16" name="accordion-1" type="radio">
    <label for="ac-16">販売確定後のキャンセル料について</label>
    <article><br />
      <p>掲載チケット代金の100％をご負担いただいてます。</p>
    </article>
  </div>
  <div>
    <input id="ac-17" name="accordion-1" type="radio">
    <label for="ac-17">キャンセル料の振込方法について</label>
    <article>
      <p><br />
    お客様のメールアドレスに振込先を記載してお送りいたします。<br />
    尚入金確認のご連絡は致しませんので、予めご了承ください。
    </p>
    </article>
  </div>
  <div>
    <input id="ac-18" name="accordion-1" type="radio">
    <label for="ac-18">チケット代金を受け取るのに手数料は?</label>
    <article>
      <p><br />
    振込依頼1回ごとに、送金手数料400円をご負担いただいております。
    </p>
    </article>
  </div>
  <div>
    <input id="ac-19" name="accordion-1" type="radio">
    <label for="ac-19">決済の種類は？</label>
    <article>
      <p><br />
      Visa.Masterのクレジット決済<br />
    現在のところ、JCB、アメリカン・エキスプレス、ダイナースクラブカードには対応しておりません。<br />
    銀行振込、コンビニ支払いがご利用になられます。
    </p>
    </article>
  </div>
</section>


 <div align="center"><h2 id="roll4"><strong>取引方法（エスクロー決済）について</strong></h2></div>

 <section class="ac-container">
  <div>
    <input id="ac-20" name="accordion-1" type="radio" checked>
    <label for="ac-20">あんしん・安全取引(エスクロー決済)とは？</label>
    <article><br />
      <p>注文したチケットが届くまで、お支払いいただいたチケット代金は、弊社で一旦お預かりし<br />
        万が一、チケットが届かなかった場合には、チケット代金を全額ご返金するような決済システムです
        詳しくは<strong><%= link_to "こちらへ" ,home_esukuro_path %></strong></p>
    </article>
  </div>

  <div>
    <input id="ac-21" name="accordion-1" type="radio">
    <label for="ac-21">安心保証</label>
    <article><br />
      <p><購入したチケット（紙発券のチケットのみ対象）が偽造チケットの場合、チケット代金を補償いたします。<br />
      これまでチケットの取引に不安を感じている方も万が一の場合に安心です。
      幾つか条件が御座いますので下記のリンクから参照して下さい。<br />
      詳しくは<strong><%= link_to "こちらから参照" ,home_esukuro_path %></strong></p>
    </article>
  </div>
</section>

  <div align="center"><h2 id="roll5"><strong>安心・安全への取り組みについて</strong></h2></div>

<section class="ac-container">
  <div>
    <input id="ac-22" name="accordion-1" type="radio" checked>
    <label for="ac-22">安心・安全への取り組み内容</label>
    <article>
      <p><br />
        皆様が安心・安全にチケットをお取引いただけるように、エスクロー決済などの機能を提供しています。<br />また、弊社社員が登録チケットのパトロールなどもおこなっています。<br />
        エスクロー決済にてチケット代金の支払い後に、万が一チケットが届かないようなトラブルが発生した場合には、お預かりしたチケット代金をお返しいたします。
    </p>
    </article>
  </div>

  <div>
    <input id="ac-23" name="accordion-1" type="radio">
    <label for="ac-23">名義塗りつぶし</label>
    <article>
      <p><br />
    チケットに記載されている名前や会員番号などの情報を塗り潰していることを指します。<br />
   「塗り潰しあり」と表示されているチケットは、チケットに塗り潰している箇所がありますので、あらかじめご了承ください。<br />
    未発券のチケットなどで女性名義・男性名義などがご不明な場合には、お相手に質問してご納得されたうえで落札申請をおこなってください。
    </p>
    </article>
  </div>

  <div>
    <input id="ac-24" name="accordion-1" type="radio">
    <label for="ac-24">値引き交渉は？</label>
    <article>
      <p><br />
      値引き交渉はお断りしてます。トラブルの原因になりますのでご理解の程、宜しくお願いします。
      </p>
    </article>
  </div>

  <div>
    <input id="ac-25" name="accordion-1" type="radio">
    <label for="ac-25">Ticket&emsp;Naviの運営会社は？</label>
    <article>
      <p><br />
      <a herf="#">High&Lows合同会社</a>がサイト運営してます。<br />
      より良い取引環境を目指して、頑張りますので今後とも宜しくお願いします。
      </p>
    </article>
  </div>
</section>

 <div align="center"><h2 id="roll6"><strong>お取引の流れ</strong></h2></div>

  <section class="ac-container">
  <div>
    <input id="ac-26" name="accordion-1" type="radio" checked>
    <label for="ac-26">全体的なお取引の流れ</label>
    <article>
      <p><br />①登録<br />
      ②チケット売買<br />
      ③チケットの確認又はお支払い確認<br />
       これだけでOK!!
    </p>
    </article>
  </div>


  <div>
    <input id="ac-27" name="accordion-1" type="radio">
    <label for="ac-27">落札申請、販売申請のキャンセルはできますか？</label>
    <article>
      <p><br />
    規約通り、落札申請、販売申請のキャンセルは一切できません。<br />
    申請に対し、応答がない場合には、お取引は不成立となります。<br />
    </p>
    </article>
  </div>

  <div>
    <input id="ac-28" name="accordion-1" type="radio">
    <label for="ac-28">チケットの送り方は？</label>
    <article>
    <p><br />
        チケットの受渡しは「追跡番号で配達状況が確認でき、対面受け渡しをする発送方法」、または「手渡し」でお願いします。<br />
        レターパックプラス、書留・簡易書留、ゆうパック、宅配便をお勧めしてます。<br />
        ◾️禁止している発送方法<br />
        普通郵便、レターパックライト、スマートレター等、配達状況が確認できない方法。<br />
    </p>
    </article>
  </div>
  </section>

  <div align="center"><h2 id="roll7"><strong>会員登録・ログイン・変更等</strong></h2></div>

<section class="ac-container">
  <div>
    <input id="ac-29" name="accordion-1" type="radio" checked>
    <label for="ac-29">新規会員登録は無料ですか？</label>
    <article>
      <p><br />
    新規会員登録は無料です。年会費や更新料も一切かかりません。<br />
    簡単登録ですので是非、新規会員登録を行って下さい。
    </p>
    </article>
  </div>

  <div>
    <input id="ac-30" name="accordion-1" type="radio">
    <label for="ac-30">年齢的な制限は？</label>
    <article>
      <p><br />
      18歳未満の方のご利用は控えさせて頂いてます。<br />予め、ご理解ください。
      </p>
    </article>
  </div>

  <div>
    <input id="ac-31" name="accordion-1" type="radio">
    <label for="ac-31">複数のアカウントについて</label>
    <article>

      <p>
      <br />
      複数のアカウント所持、利用は禁じてます。
      </p>
    </article>
  </div>

<div>
    <input id="ac-32" name="accordion-1" type="radio">
    <label for="ac-32">変更等の手続き</label>
    <article>
      <p>
      <br />
      各種変更手続き（住所、銀行口座等）はログイン後マイページから変更できます。</p>
    </article>
  </div>

<div>
    <input id="ac-33" name="accordion-1" type="radio">
    <label for="ac-33">パスワード忘れ、変更など</label>
    <article>
      <p><br />パスワード再発行や変更は出来ません。大切に保管してください。</p>
    </article>
  </div>

<div>
    <input id="ac-34" name="accordion-1" type="radio">
    <label for="ac-34">退会したい-未受取分の売上がある場合</label>
    <article>
      <p><br />退会はできません。全額振込依頼を行ってから、お手続きをお願い致します。</p>
    </article>
  </div>
</section>


  <div align="center"><h2 id="roll10"><strong>利用規約について</strong></h2></div>
<section class="ac-container">
<div>
    <input id="ac-35" name="accordion-1" type="radio" checked>
    <label for="ac-35">プライバシーポリシー</label>
    <article>
      <p><br />下記から詳細をご覧下さい。<br>
        <strong><%= link_to 'プライバシーポリシー' , home_puraibashi_path %></strong>について</p>
    </article>
  </div>

  <div>
    <input id="ac-1010" name="accordion-1" type="radio">
    <label for="ac-1010">特定商取引法の表示</label>
    <article>
      <p><br>下記から詳細をご覧下さい。<br>
        <strong><%= link_to '特定商取引法に基づく表示', home_torihikihou_path %></strong>について</p>
    </article>
  </div>
  </section>
</div>
</div>
<br>
  <div align="right"><h2><a href="#roll11">Topへ</a>&emsp;&emsp;&emsp;&emsp;&emsp;</h2></div>
<br>
</div>