<div class="hidden-xs hidden-sm hidden-md">
 <div class="slider-top">
  <div class="slider-contents-top>">
  <br /><br />
    <h1><small>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;チケナビは、誰でも簡単に&nbsp;売る&nbsp;買う&nbsp;ができて、<br />
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;安心・安全なお取引ができるチケット専門のサイトです。</small></h1>
  </div>
    <div class="slider-contents-1">
     <div class="contents-left-1>"><%= image_tag"number3_1.png", :size => "50x50" %>
       <h1>登録が簡単にできる</h1>
       <br />
       <%= image_tag"jyosijyosi.jpg", :size => "350x340" %>
       <h3>たった3分のユーザー登録と管理画面の<br />登録をするだけで、Ticket Navi全ての機能<br />が使えます。</h3>
     </div>
   </div>

   <div class="slider-contents-2">
     <div class="contents-left-2>"><%= image_tag"number3_2.png", :size => "50x50" %>
       <h1>出品が簡単にできる</h1>
       <br />
       <%= image_tag"YUKA862_mobile15185035_TP_V.jpg", :size => "350x340" %>
       <h3>指定のされた内容に従ってチケットを<br />出品するだけでO.K!!<br />徹底的にシンプルさを追求しました。</h3>
     </div>
   </div>

   <div class="slider-contents-3">
     <div class="contents-left-3>"><%= image_tag"number3_3.png", :size => "50x50" %>
       <h1>即に購入できる</h1>
       <br />
       <%= image_tag"46709468.gif", :size => "350x340" %>
       <h3>簡単な購入方法で、後は<br />売手側からのチケットを待つだけ！!<br />お買い得チケットが見つかるかも。</h3>
     </div>
   </div>

 <div class="hallbox">
 </div>
 <div class="slidernav clearfix">
   <div id="loopslider">
    <ul>
      <li><%= image_tag"livetourphoto.jpg", :size => "350x300" %></li>
      <li><%= image_tag"nouphoto.jpg", :size => "350x300" %></li>
      <li><%= image_tag"kabukiza.jpg", :size => "350x300" %></li>
      <li><%= image_tag"sportphoto.jpg", :size => "350x300" %></li>
      <li><%= image_tag"livephoto.jpg", :size => "350x300" %></li>
      <li><%= image_tag"kodephotos.jpg", :size => "350x300" %></li>
      <li><%= image_tag"operaphoto.jpg", :size => "350x300" %></li>
      <li><%= image_tag"33debc9d78990af434a49e594a0ba7ba_s.jpg", :size => "350x300" %></li>
      <li><%= image_tag"pianophoto.jpg", :size => "350x300" %></li>
      <li><%= image_tag"mediaphoto.png", :size => "350x300" %></li>
    </ul>
   </div>
 </div>
   <div class="loopslider-underber">
        <h2><strong>豊富なカテゴリーの多さと出品数<br />
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span style="color: red;">利便性を第1に考えた</span>、取引画面の手軽さへの追求...</strong></h2>
   </div>


  <div class="slider-under clearfix">
   <div align="center">
       <h1>チケナビが選ばれる理由</h1>
   </div>
   <br /><br />
   <div class="slider-under-contents-1">
     <%= image_tag"117245g.png", :size => "150x150" %>
     <h3><strong>業界最安値の取引手数料</strong></h3>
     <p>登録手数料０円!!月会費・出品料はもちろん無料で一切かかりません。<br />業界最安値の手数料に挑戦！<br />詳しくは<strong><%= link_to "こちらへ" ,home_kakaku_path %></strong></p>
   </div>
   <div class="slider-under-contents-2">
     <%= image_tag"134462r.png", :size => "150x150" %>
     <h3><strong>あんしん・安全決済システム</strong></h3>
     <p>お金のやりとりはTiket Naviが仲介し、チケットが届いた後に出品者へお金の振り込みを行うので安心です。あんしん・安全の取引システムを導入し売り買いをサポートしてます。詳しくは<strong><%= link_to "こちらへ" ,home_esukuro_path %></strong></p>
   </div>
   <div class="slider-under-contents-3">
     <%= image_tag"130978.png", :size => "150x150" %>
     <h3><strong>簡単な売り買いが可能</strong></h3>
     <p>不要なチケットや、どうしても行けなくなってしまったライブやコンサート、イベント等のチケットを売ってみよう!</p>
   </div>
   <div class="slider-under-contents-4">
     <%= image_tag"119962b.png", :size => "150x150" %>
     <h3><strong>多彩な決済方法を整備</strong></h3>
     <p>チケットの購入は、あんしん・安全を前提に、クレジットカード/コンビニ/銀行振込等の豊富な支払い方法に対応。<br />詳しくは<strong><%= link_to "こちらへ" ,home_payment_path %></strong></p>
   </div>
  </div>

  <br /><br />
 <div class="top-contents-main">
  <div class="top-contents-main-nabvi">
    <h1>最新投稿ピックアップチケット</h1>
    <div class="top-contents-main-nabvi-tag"><%= image_tag"icon_026430_256.png", :size => "110x110" %></div>
  </div>

<br />
<div class="index-box">
    <table>
  <thead>
    <tr>
      <th class="tablebox1105-left">公演名</th>
      <th class="tablebox5100">日時</th>
      <th class="tablebox1105">場所</th>
      <th class="tableboxticket">チケット情報</th>
      <th class="tablebox1111">価格</th>
      <th class="tablebox1100">詳細</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<br />
  <tbody>
    <% @shops.last(7).each do |shop| %>
      <tr>
        <td class="tablebox5011"><small><%= shop.airt_name.truncate(18) %></span>
          <p><span style="color:#0000CC;"><%= shop.live_tour_name.truncate(24) %></span></p></small></td>
        <td class="tablebox5100under"><small><%= shop.day_date %>&emsp;&emsp;&emsp;<%= shop.time_date %>〜</small></td>
        <td class="tablebox5011"><small><span style="color:#0000CC;"><%= shop.plase.truncate(41) %></span></small></td>
        <td class="tableboxticketunder">
          <small>[<span style="color:#ff0000;">送料</span>]&nbsp;<%= shop.postage_i18n %>
            &emsp;[<span style="color:#ff0000;">名義</span>]&nbsp;<%= shop.ticket_name_i18n %>
            &emsp;[<span style="color:#ff0000;">席種</span>]&nbsp;<%= shop.seat_i18n %></small>
        <p><small>[<span style="color:#ff0000;">発送方法</span>]&nbsp;<%= shop.shipping_method_i18n %>
            &emsp;[<span style="color:#ff0000;">発送予定時期</span>]&nbsp;<%= shop.docide_promptly_i18n %>
            &emsp;[<span style="color:#ff0000;">購入元</span>]&nbsp;<%= shop.nsk_i18n %></small></p>
        <p><small>[<span style="color:#ff0000;">売手側からのチケット情報</span>]</small></p>
        <p><small><%= shop.seat_in_detail.truncate(39) %></small></p></td>
        <td class="tablebox6000"><small><%= shop.number_of_sheets_i18n %>枚
          <p><span style="color:#ff0000;"><%= number_with_delimiter(shop.price) %></span>円/枚</span></p>
        <p><%= shop.list_price_i18n %></span></p></small></td>
        <td class="tablebox5000"><%= link_to '詳細購入', shop %></td>

      </tr>
    <% end %>
  </tbody>
    </table>
    <br /><br />
    <% @shops.last(5).each do |shop| %>
    <% end %>
</div>
</div>
 <div class="phtonavi clearfix">
   <div class="phtonavi-content">
      <h1><strong>誰でも売り買いの楽しさを体感できる</h1>
      <p>お買い得なチケットからプレミアムなチケットまで、あなたの探してる<br />
      チケットがきっと見つかるはず。<br />
      さあ、チケナビを楽しもう!!</strong></p>
   </div>
   <div class="photo1">
    <%= image_tag"phtosho.jpg", :size => "410x350" %>
   </div>
   <div class="photo2">
    <%= image_tag"photosho.jpg", :size => "710x350" %>
   </div>
   <div class="photo3">
    <%= image_tag"sumaho.jpg", :size => "210x350" %>
   </div>
</div>
</div>
</div>
</div>