<% content_for :title do %>
<%= @nickname %>さんの管理画面 | チケット売買ならTicket Navi
<% end %>
<div class="mypage-main clearfix">
  <div class="mypage-header clearfix">
     <div class="mypage-header-left">
       <h2>⭐️<%= @nickname %>さん⭐️出品チケット一覧</h2>
       <p><span style="color:#ff0000;">過去の出品データ含みます</span>&emsp;&emsp;ログイン時間&emsp;<%= Time.now.strftime("%Y年%m月%d日 %H時%M分")%></p>
     </div>
     <div class="mypage-header-right">
       <ul>
       <li><%= link_to "重要登録", edit_user_registration_path %><span style="color:#ff0000;">(売買必須)</span></li>
       <li>送金可能金額(売上高)&nbsp;<%= number_with_delimiter(@money) %><small>円</small></li>
       </ul>
     </div>
 </div>
<br />
  <div class="mypage-main-date">
<div class="index-box-mypage">
    <table>
  <thead>
    <tr>
      <th class="tablebox1105-left">公演名</th>
      <th class="tablebox5100">日時</th>
      <th class="tablebox1105">場所</th>
      <th class="tableboxticket">チケット情報</th>
      <th class="tablebox1111">価格</th>
      <th class="tablebox1100">詳細</th>
      <th class="tablebox1100">編集</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td class="tablebox5011"><small><%= shop.airt_name.truncate(18) %></span>
          <p><span style="color:#0000CC;"><%= shop.live_tour_name.truncate(24) %></span></p></small></td>
        <td class="tablebox5100under"><small><%= shop.day_date %>&emsp;&emsp;&emsp;<%= shop.time_date %>〜</small></td>
        <td class="tablebox5011"><small><span style="color:#0000CC;"><%= shop.plase.truncate(41) %></span></small></td>
        <td class="tableboxticketunder">
          <small>[<span style="color:#ff0000;">送料</span>]&nbsp;<%= shop.postage_i18n %>
            &emsp;[<span style="color:#ff0000;">名義</span>]&nbsp;<%= shop.ticket_name_i18n %>
            &emsp;[<span style="color:#ff0000;">席種</span>]&nbsp;<%= shop.seat_i18n %></small>
        <p><small>[<span style="color:#ff0000;">発送方法</span>]&nbsp;<%= shop.shipping_method_i18n %>
            &emsp;[<span style="color:#ff0000;">発送予定時期</span>]&nbsp;<%= shop.docide_promptly_i18n %>
            &emsp;[<span style="color:#ff0000;">購入元</span>]&nbsp;<%= shop.nsk_i18n %></small></p>
        <p><small>[<span style="color:#ff0000;">売手側からのチケット情報</span>]</small></p>
        <p><small><%= shop.seat_in_detail.truncate(39) %></small></p></td>
        <td class="tablebox6000"><small><%= shop.number_of_sheets_i18n %>枚
          <p><span style="color:#ff0000;"><%= number_with_delimiter(shop.price) %></span>円/枚</span></p>
        <p><%= shop.list_price_i18n %></span></p></small></td>
        <td class="tablebox5000"><%= link_to '詳細', shop %></td>
        <td class="tablebox5000"><%= link_to '編集', "/shops/#{shop.id}/edit", method: :get %>
        <p><%= link_to '削除', "/shops/#{shop.id}", method: :delete, data: {
      confirm: '本当に削除しても宜しいでしょうか？',
      disable_with: '削除中です..。。'} %></p></td>
      </tr>
    <% end %>
  </tbody>
    </table>
    <br />

    <%= paginate(@shops) %>

      <br>
       <div class="bulebox">
       <h4 class="bulebox">&nbsp;<%= link_to 'チケットの出品へ', new_shop_path %></h4>
     </div>
</div>

  </div>
</div>
<div class="mypage-main clearfix">
<br />
  <h2> <%= @nickname %>さんのご登録情報<p><small>お客様情報が空の場合は<%= link_to "こちらからご登録", edit_user_registration_path %>をお願いします。</small></p></h2>
<table id="tablebox-show">
          <tr class="header">
            <th class="box1000-left">お名前</th>
            <th class="tablebox111-right">ご登録情報</th>
          </tr>
          <tr>
            <td class="box999-show">お名前<br />(フルネーム)</td>
            <td class="tablebox111-show"><%= @name %><span style="color:#ff0000;">&emsp;<small>*購入者のみメール記載</small></span></td>
          </tr>
          <tr>
            <td class="box999-show">ニックネーム<br />(２〜８文字)</td>
            <td class="tablebox111-show"><%= @nickname %><span style="color:#ff0000;">&emsp;<small>*チケット記載</small></span></td>
          </tr>
          <tr class="header">
          <th class="box1000-left">郵送先（住所）</th>
          <th class="tablebox111-right">ご登録情報</th>
          </tr>
          <tr>
            <td class="box999-show">郵便番号</td>
            <td class="tablebox111-show"><%= @number %><span style="color:#ff0000;">&emsp;<small>*購入者のみメール記載</small></span></td>
          </tr>
          <tr>
            <td class="box999-show">都道府県</td>
            <td class="tablebox111-show"><%= @big_address %><span style="color:#ff0000;">&emsp;<small>*チケット記載　*購入者のみメール記載</small></span></td>
          </tr>
          <tr>
            <td class="box999-show">市区町村</td>
            <td class="tablebox111-show"><%= @subaddress %><span style="color:#ff0000;">&emsp;<small>*チケット記載　*購入者のみメール記載</small></span></td>
          </tr>
          <tr>
            <td class="box999-show">番地以下</td>
            <td class="tablebox111-show"><%= @littleaddress %><span style="color:#ff0000;">&emsp;<small>*購入者のみメール記載</small></span></td>
          </tr>
          <tr>
            <td class="box999-show">マンション名/<br />部屋番号</td>
            <td class="tablebox111-show"><%= @address %><span style="color:#ff0000;">&emsp;<small>*購入者のみメール記載</small></span></td>
          </tr>
          <tr class="header">
            <th class="box1000-left">緊急連絡先</th>
            <th class="tablebox111-right">ご登録情報</th>
          </tr>
          <tr>
            <td class="box999-show">連絡先</td>
            <td class="tablebox111-show"><%= @tel %><span style="color:#ff0000;">&emsp;<small>*購入者のみメール記載</small></span></td>
          </tr>
</table>
<table id="tablebox-show_right">
          <tr class="header">
            <th class="box1000-left">振込口座</th>
            <th class="tablebox111-right">ご登録情報</th>
          </tr>
          <tr>
            <td class="box999-show">金融機関名</td>
            <td class="tablebox111-show"><%= @bankname %></td>
          </tr>
          <tr>
            <td class="box999-show">支店名</td>
            <td class="tablebox111-show"><%= @branch_name %></td>
          </tr>
          <tr>
            <td class="box999-show">口座種別</td>
            <td class="tablebox111-show"><%= @account_type %></td>
          </tr>
          <tr>
            <td class="box999-show">口座番号</td>
            <td class="tablebox111-show"><%= @account_number %></td>
          </tr>
          <tr>
            <td class="box999-show">口座名義</td>
            <td class="tablebox111-show"><%= @account_name %></td>
          </tr>

</table>
<br />
*ゆうちょ銀行のお取り扱いは現在しておりません。<br />
*お間違えのないの無いよう、正確に記入してください。<br />
お客様の入力ミスにより送金(銀行振込)が出来なかった場合は<br />
手数料<span style="color:#ff0000;">840</span>円をご請求させて頂きます。
</div>
<div class="money">
     <div class="money-left">
        <h2>送金可能金額&emsp;<%= number_with_delimiter(@money) %>円</h2>
        <strong>仮リンク先指定。後ほど変更<%= link_to "送金（銀行振込）手続き画面へ進む", root_path %></strong>
     </div>
     <div class="money-right">
       <h3>送金(銀行振込み)方法</h3>
       <p>左の送金フォームより、送金可能金額内でご入力をお願いします。</p>
       <p>・最低送金可能金額は401円以上です。<br />
          ・振込依頼1回ごとに、送金手数料400円をご負担いただいております。<br />
          ・お客様の指定口座への銀行振込は平日15:00までなら２翌営業日以内、<br />
          &emsp;上記以外の時間帯は３翌営業日以内となります。<br />
          &emsp;ご登録の一部の金融機関（地方銀行など）では翌銀行営業日に対応していない場合等が<br />
          &emsp;ございますので予めご了承ください。<br />
     </div>

</div>