<br />
<% content_for :title do %>
お客様の詳細ご登録画面 | あんしん・安全取引ならTicket Navi!!
<% end %>
<br />
<div class="mypage-main clearfix">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<br />
  <h1> 配送連絡/振込み先登録</h1>
<table id="tablebox-show">
          <tr class="header">
            <th class="box1000-left">お名前</th>
            <th class="tablebox111-right">記入欄</th>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :name, "お名前（フルネーム）" %></td>
            <td class="tablebox111-show"><%= f.text_field :name, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :nickname,"ニックネーム（２〜８文字）" %></td>
            <td class="tablebox111-show"><%= f.text_field :nickname, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須(チケット記載)</small></span></td>
          </tr>
          <tr class="header">
          <th class="box1000-left">郵送先（住所）</th>
          <th class="tablebox111-right">記入欄</th>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :number,"郵便番号" %></td>
            <td class="tablebox111-show"><%= f.text_field :number, autofocus: true %><p><span style="color:#ff0000;"><small>*必須(ハイフンなしで記入)</small></span></p></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :big_address,"都道府県" %></td>
            <td class="tablebox111-show"><%= f.select :big_address,
{ーー都道府県選択ーー: "",
 北海道: "北海道",
 青森県: "青森県",
 岩手県: "岩手県",
 宮城県: "宮城県",
 秋田県: "秋田県",
 山形県: "山形県",
 福島県: "福島県",
 茨城県: "茨城県",
 栃木県: "栃木県",
 群馬県: "群馬県",
 埼玉県: "埼玉県",
 千葉県: "千葉県",
 東京都: "東京都",
 神奈川県: "神奈川県",
 新潟県: "新潟県",
 富山県: "富山県",
 石川県: "石川県",
 福井県: "福井県",
 山梨県: "山梨県",
 長野県: "長野県",
 岐阜県: "岐阜県",
 静岡県: "静岡県",
 愛知県: "愛知県",
 三重県: "三重県",
 滋賀県: "滋賀県",
 京都府: "京都府",
 大阪府: "大阪府",
 兵庫県: "兵庫県",
 奈良県: "奈良県",
 和歌山県: "和歌山県",
 鳥取県: "鳥取県",
 島根県: "島根県",
 岡山県: "岡山県",
 広島県: "広島県",
 山口県: "山口県",
 徳島県: "徳島県",
 香川県: "香川県",
 愛媛県: "愛媛県",
 高知県: "高知県",
 福岡県: "福岡県",
 佐賀県: "佐賀県",
 長崎県: "長崎県",
 熊本県: "熊本県",
 大分県: "大分県",
 宮崎県: "宮崎県",
 鹿児島県: "鹿児島県",
 沖縄県: "沖縄県"} %>
 <span style="color:#ff0000;">&emsp;<small>*必須(チケット記載)</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :subaddress, "市区町村" %></td>
            <td class="tablebox111-show"><%= f.text_field :subaddress, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須(チケット記載)</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :littleaddress, "番地以下" %></td>
            <td class="tablebox111-show"><%= f.text_field :littleaddress, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :address, "マンション名・部屋番号" %></td>
            <td class="tablebox111-show"><%= f.text_field :address, autofocus: true %></td>
          </tr>
          <tr class="header">
            <th class="box1000-left">緊急連絡先</th>
            <th class="tablebox111-right">記入欄</th>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :tel, "連絡先" %></td>
            <td class="tablebox111-show"><%= f.telephone_field :tel, autofocus: true%><p><span style="color:#ff0000;"><small>*必須(ハイフンなしで記入)</small></span></p></td>
          </tr>
</table>
<table id="tablebox-show_right">
          <tr class="header">
            <th class="box1000-left">振込口座</th>
            <th class="tablebox111-right">記入欄</th>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :bankname, "金融機関名" %></td>
            <td class="tablebox111-show"><%= f.select :bankname,
             {ーー大手金融機関ーーーーー: "",
               三菱東京ＵＦＪ銀行: "三菱東京UFJ銀行",
               みずほ銀行: "みずほ銀行",
               三井住友銀行: "三井住友銀行",
               りそな銀行: "りそな銀行",
               埼玉りそな銀行: "埼玉りそな銀行",
               楽天銀行: "楽天銀行",
               ゆうちょ銀行: "ゆうちょ銀行",
               住信ＳＢＩネット銀行: "住信SBIネット銀行",
               ジャパンネット銀行: "ジャパンネット銀行",
               セブン銀行: "セブン銀行",
               ソニー銀行: "ソニー銀行",
               新生銀行: "新生銀行",
              ーーその他金融機関ーーーー: "",
              ーーあ行ーーーー: "",
              あおぞら銀行: "あおぞら銀行",
               秋田銀行: "秋田銀行",
                足利銀行: "足利銀行",
                阿波銀行: "阿波銀行",
                青森銀行: "青森銀行",
                愛知銀行: "愛知銀行",
              ーーい行ーーーー: "",
              岩手銀行: "岩手銀行",
              伊予銀行: "伊予銀行",
              池田泉州銀行: "池田泉州銀行",
              ーーう行ーーーー: "",
              ーーえ行ーーーー: "",
              愛媛銀行: "愛媛銀行",
              ーーお行ーーーー: "",
              大分銀行: "大分銀行",
              大垣共立銀行: "大垣共立銀行",
              沖縄銀行: "沖縄銀行",
              沖縄海邦銀行: "沖縄海邦銀行",
              ーーか行ーーーー: "",
              鹿児島銀行: "鹿児島銀行",
              神奈川銀行: "神奈川銀行",
              香川銀行: "香川銀行",
              関西アーバン銀行: "関西アーバン銀行",
              ーーき行ーーーー: "",
              京都銀行: "京都銀行",
              近畿大阪銀行: "近畿大阪銀行",
              北國銀行: "北國銀行",
              紀陽銀行: "紀陽銀行",
              北日本銀行: "北日本銀行",
              北九州銀行: "北九州銀行",
              きらやか銀行: "きらやか銀行",
              ーーく行ーーーー: "",
              群馬銀行: "群馬銀行",
              熊本銀行: "熊本銀行",
              ーーけ行ーーーー: "",
              京葉銀行: "京葉銀行",
              ーーこ行ーーーー: "",
              高知銀行: "高知銀行",
              ーーさ行ーーーー: "",
              山陰合同銀行: "山陰合同銀行",
              佐賀銀行: "佐賀銀行",
              佐賀共栄銀行: "佐賀共栄銀行",
              西京銀行: "西京銀行",
              ーーし行ーーーー: "",
              滋賀銀行: "滋賀銀行",
              静岡銀行: "静岡銀行",
              七十七銀行: "七十七銀行",
              常陽銀行: "常陽銀行",
              十六銀行: "十六銀行",
              十八銀行: "十八銀行",
              四国銀行: "四国銀行",
              清水銀行: "清水銀行",
              島根銀行: "島根銀行",
              荘内銀行: "荘内銀行",
              親和銀行: "親和銀行",
              ーーす行ーーーー: "",
              スルガ銀行: "スルガ銀行",
              ーーせ行ーーーー: "",
              仙台銀行: "仙台銀行",
              ーーそ行ーーーー: "",
              ーーた行ーーーー: "",
              第三銀行: "第三銀行",
              第四銀行: "第四銀行",
              大光銀行: "大光銀行",
              大東銀行: "大東銀行",
              但馬銀行: "但馬銀行",
              大正銀行: "大正銀行",
              ーーち行ーーーー: "",
              千葉銀行: "千葉銀行",
              千葉興業銀行: "千葉興業銀行",
              中国銀行: "中国銀行",
              中京銀行: "中京銀行",
              筑邦銀行: "筑邦銀行",
              ーーつ行ーーーー: "",
              筑波銀行: "筑波銀行",
              ーーて行ーーーー: "",
              ーーと行ーーーー: "",
              栃木銀行: "栃木銀行",
              鳥取銀行: "鳥取銀行",
              東北銀行: "東北銀行",
              富山銀行: "富山銀行",
              富山第一銀行: "富山第一銀行",
              徳島銀行: "徳島銀行",
              東邦銀行: "東邦銀行",
              東和銀行: "東和銀行",
              東京都民銀行: "東京都民銀行",
              東京スター銀行: "東京スター銀行",
              トマト銀行: "トマト銀行",
              ーーな行ーーーー: "",
              長野銀行: "長野銀行",
              名古屋銀行: "名古屋銀行",
              長崎銀行: "長崎銀行",
              南都銀行: "南都銀行",
              ーーに行ーーーー: "",
              西日本シティ銀行: "西日本シティ銀行",
              ーーぬ行ーーーー: "",
              ーーね行ーーーー: "",
              ーーの行ーーーー: "",
              ーーは行ーーーー: "",
              八十二銀行: "八十二銀行",
              ーーひ行ーーーー: "",
              東日本銀行: "東日本銀行",
              肥後銀行: "肥後銀行",
              広島銀行: "広島銀行",
              百五銀行: "百五銀行",
              百十四銀行: "百十四銀行",
              ーーふ行ーーーー: "",
              福岡中央銀行: "福岡中央銀行",
              福井銀行: "福井銀行",
              福島銀行: "福島銀行",
              福岡銀行: "福岡銀行",
              福邦銀行: "福邦銀行",
              ーーへ行ーーーー: "",
              ーーほ行ーーーー: "",
              北越銀行: "北越銀行",
              北洋銀行: "北洋銀行",
              豊和銀行: "豊和銀行",
              北都銀行: "北都銀行",
              ーーま行ーーーー: "",
              ーーみ行ーーーー: "",
              三重銀行: "三重銀行",
              みちのく銀行: "みちのく銀行",
              みなと銀行: "みなと銀行",
              宮崎銀行: "宮崎銀行",
              宮崎太陽銀行: "宮崎太陽銀行",
              南日本銀行: "南日本銀行",
              ーーむ行ーーーー: "",
              武蔵野銀行: "武蔵野銀行",
              ーーめ行ーーーー: "",
              ーーも行ーーーー: "",
              もみじ銀行: "もみじ銀行",
              ーーや行ーーーー: "",
              山形銀行: "山形銀行",
              山梨中央銀行: "山梨中央銀行",
               八千代銀行: "八千代銀行",
              ーーゆ行ーーーー: "",
              ーーよ行ーーーー: "",
              横浜銀行: "横浜銀行",
              ーーら行ーーーー: "",
              ーーり行ーーーー: "",
              琉球銀行: "琉球銀行",
              ーーる行ーーーー: "",
              ーーれ行ーーーー: "",
              ーーろ行ーーーー: "",
              ーーわ行ーーーー: "",
              ーーA〜Zーーーー: ""
              } %><span style="color:#ff0000;">&emsp;<small>*必須</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :branch_name, "支店名" %></td>
            <td class="tablebox111-show"><%= f.text_field :branch_name, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須(支店番号記入不可)</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :account_type, "口座種別" %></td>
            <td class="tablebox111-show"><%= f.select :account_type, {ーー預金口座選択ーーーーー: "", 普通預金口座: "普通預金口座", 当座預金口座: "当座預金口座"}, autofocus: true %><span style="color:#ff0000;">&emsp;<small>*必須</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :account_number, "口座番号" %></td>
            <td class="tablebox111-show"><%= f.text_field :account_number, autofocus: true %><span style="color:#ff0000;"><br /><small>*必須(7桁で記入/7桁未満の場合は先頭に「0」をつけてください)</small></span></td>
          </tr>
          <tr>
            <td class="box999-show"><%= f.label :account_name, "口座名義" %></td>
            <td class="tablebox111-show"><%= f.text_field :account_name, autofocus: true %><p><span style="color:#ff0000;"><small>*必須(全角カタカナで記入)</small></span></p></td>
          </tr>

</table>
<br />
  <h3>安全の為、ご登録を頂いてる<span style="color:#ff0000;">パスワードの入力</span>をお願い致します。</h3>
  <%= f.label :current_password, "パスワード入力" %>
    <br />
    <%= f.password_field :current_password, autocomplete: "off" %>

<br />
<br />
  <div class="actions">
    <%= f.submit "登録" ,:class => "submit-button"%>
  </div>
<% end %>

<br />
<a href="/users/<%= current_user.id %>">マイページへ</a>
</div>

<br />
<br />
<br />
<div class="kakakubox">
<div class="indexpage">
    <div class="box100">
      <h1>手数料詳細&nbsp;<span style="color:red;"><small>(買い手側)</small></span></h1>
     <p>＊売り手側と買い手側にそれぞれ手数料が発生します</p>
    </div>
    <div class="airt-commntbox-top">  </div>
<div class="airt-commntbox">
  <p>チケナビは、お客様に解りやすい料金体系を提案してます。業界NO.1の低価格な手数料金額を実現し、他者様の様な細い料金設定にしていないので、シンプルな手数料体系です。</p>
  チケットの詳細画面にて手数料を明記してます。下記参照*全て<span style="color:red;">4%</span>or<span style="color:red;">400円</span>統一
</div>
  <div class="airt-commntbox-under"></div>


 <table id="tablebox-show_sub-right-kakaku">
          <tr class="header">
            <th class="box1000-left1105">取引内容</th>
            <th class="tablebox111-right1105">手数料情報</th>
            <th class="box1000-left1105">取引成立後のキャンセル</th>
          </tr>

          <tr>
            <td class="box999-showcopy">取引手数料<br />(購入者側)</td>
            <td class="tablebox111-showcopy">
              8,000円以下の場合は一律&nbsp;<span style="color:red;">400円</span><small>(税込)</small><br />
              8,001円以上の場合は一律&nbsp;<span style="color:red;">４％</span><small>(税込)</small><br />
            <td class="tablebox111-showcopy">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strong><span style="color:red;">キャンセル不可</span></strong>
            </td>
          </tr>

          <tr>
            <td class="box999-showcopy">決済システム料<br />(購入者のみ)</td>
            <td class="tablebox111-showcopy">
              一律&nbsp;<span style="color:red;">4%</span><small>税込(全てのお支払い方法に共通)</small><br />
              <span style="color:red;">＊チケット代金総額 </span><small>(送料を含まない)</small>
            </td>
          </tr>

            <tr>
            <td class="box999-showcopy">例・請求内約<br />(購入者側)</td>
            <td class="tablebox111-showcopy">
              チケット代金&emsp;&emsp;<small>+</small>&nbsp;<strong>10,000</strong><small>円</small><small>(2枚合計)</small><br />
              取引手数料&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong>400</strong><small>円</small><br />
              決済システム料&emsp;<small>+</small>&nbsp;<strong>416</strong><small>円</small><br />
              送料&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small>+</small>&nbsp;<strong>510</strong><small>円</small>&emsp;&emsp;&emsp;&emsp;&emsp;<small><span style="color:red;">*小数点第1位四捨五入</span></small>
            </td>
          </tr>

          <tr>
            <td class="box999-showcopy">例・お支払い<br />代金総額</td>
            <td class="tablebox111-showcopy"><strong>11,326円</strong>&emsp;<small><span style="color:red;">&nbsp;＊お支払い代金総額に加算済</span></small></td>
            </td>
          </tr>
  </table>
</div>

<div class="indexpage">
    <div class="box100">
     <h1>手数料詳細&nbsp;<span style="color:red;"><small>(売り手側)</small></span></h1>
     <p>＊売り手側と買い手側にそれぞれ手数料が発生します</p>
    </div>
    <div class="airt-commntbox-top">  </div>
<div class="airt-commntbox">
  <p>チケナビは、お客様に解りやすい料金体系を提案してます。業界NO.1の低価格な手数料金額を実現し、他者様の様な細い料金設定にしていないので、シンプルな手数料体系です。</p>
  チケットの詳細画面にて手数料を明記してます。下記参照*全て<span style="color:red;">4%</span>or<span style="color:red;">400円</span>統一
</div>
  <div class="airt-commntbox-under"></div>
</div>
<div class="kakakubox-under">
<table id="tablebox-show_sub-right-kakaku-under">
          <tr class="header">
            <th class="box1000-left1105">取引内容</th>
            <th class="tablebox111-right1105">手数料情報</th>
            <th class="box1000-left1105">取引成立後のキャンセル</th>
          </tr>

          <tr>
            <td class="box999-showcopy">取引手数料<br />(売り手側)</td>
            <td class="tablebox111-showcopy">
              販売手数料として、チケットの売買成立時に<br />チケット販売価格から一律<span style="color:red;">4%</span><small>(税込)</small>
            <td class="tablebox111-showcopy">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<strong>キャンセル料<span style="color:red;">100%</span></strong><small>(税込)</small></td>
            </td>
          </tr>

          <tr>
            <td class="box999-showcopy">銀行振込手数料<br />(売り手側のみ)</td>
            <td class="tablebox111-showcopy">
              1回の銀行振込(出金)につき、
              一律&nbsp;<span style="color:red;">400円</span><small>(税込)</small>
            </td>
          </tr>

          <tr>
            <td class="box999-showcopy">例・取引手数料<br />(売り手側)</td>
            <td class="tablebox111-showcopy">
              チケット販売価格&emsp;10,000円<small>(2枚合計)</small> <br />
              販売手数料&emsp;&emsp;&emsp;&emsp;400円<small>(税込)</small>
            </td>
          </tr>

          <tr>
            <td class="box999-showcopy">例・銀行振込<br />手数料<br />(売り手側のみ)</td>
            <td class="tablebox111-showcopy">
              残高9,600円&emsp;&emsp;<strong>9,600</strong><small>円</small>の銀行振込手続き<small>(出金)</small><br />
              振込手数料&emsp;&emsp;&emsp;<small>-</small>&nbsp;<strong>400</strong><small>円</small><small>(税込)</small><br />
              お客様指定口座&nbsp;&nbsp;<strong>9,200</strong><small>円</small>&nbsp;お振込み&nbsp;<small>*注1</small>
              <span style="color:red;"></span><small></small>
            </td>
          </tr>
  </table>
  </div>
  <div class="kakakubox-comment">
    <small>*注1</small>&emsp;お客様の指定口座への銀行振込は平日15:00までなら２翌営業日以内、上記以外の時間帯は３翌営業日以内となります。<br />
    ご登録の,一部の金融機関（地方銀行など）では翌銀行営業日に対応していない場合等がございますので予めご了承ください。<br />
    またお振込に関しては、より早く入金処理をする為に弊社一丸となり改善、努めてまいります。
  </div>
</div>
