<br />
<br />
<div class="box150">
  <h1>パスワードを忘れた方</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

     <div class="field-login">
      <%= f.label :Emailアドレス %><br />
     </div>
      <div class="text-menu-login">
      <br />
    <%= f.email_field :email, autofocus: true, placeholder: " ご登録頂いてるEmailアドレスを記入" %><span style="color:#ff0000;">&emsp;<small>*必須</small></span><br />
<br />
  <div class="actions">
    <%= f.submit "送信" ,:class => "submit-button"%>
  </div>
<% end %>
</div>
  </div>